/*1364178303,178142491*/

@-webkit-keyframes show{0%{opacity:.0}
100%{opacity:1.0}
}
@-moz-keyframes show{0%{opacity:.0}
100%{opacity:1.0}
}
@keyframes show{0%{opacity:.0}
100%{opacity:1.0}
}
._1g0r{opacity:.3}
._1g0r:hover{opacity:1}
div.pluginAdUnit{width:244px}
div.pluginAdUnitNoHeader div.ego_section{margin-bottom:0}
div.pluginAdUnit .sponsoredFooter{float:right}
.pluginBoxDivider{border-top:1px solid #d8dfea}
.pluginBoxDividerGray{border-top-color:#ccc}
.pluginButtonIE b{background:#cad4e7;display:block;font-size:1px;height:1px;margin:0 1px;overflow:hidden}
.pluginButtonIE .pluginButton{border:0}
.pluginButtonIEPatty{border:solid #cad4e7;border-width:0 1px}
.pluginButtonIEPressed b{background:#ddd}
.pluginButtonIEPressed .pluginButtonIEPatty{border-color:#ddd}
.pluginSkinDark b{background:#999}
.pluginSkinDark .pluginButtonIEPatty{border-color:#999}
.pluginSkinDark .pluginButtonIEPressed b{background:#555}
.pluginSkinDark .pluginButtonIEPressed .pluginButtonIEPatty{border-color:#555}
.pluginButton{background:#eceef5;border-radius:3px;border:1px solid #cad4e7;cursor:pointer;padding:2px 6px 4px;white-space:nowrap;color:#3b5998}
.pluginButtonInline{display:inline-block}
.pluginButtonX{cursor:default}
.pluginButton button{background:transparent;border:0;margin:-1px;padding:0;font:inherit;color:inherit;cursor:pointer}
.pluginButton button::-moz-focus-inner{border:0;padding:0}
.pluginButtonIcon{position:relative;top:3px;margin-right:3px}
.pluginButtonSmall{padding:0 5px 2px 5px}
.pluginButtonSmall .pluginButtonIcon{margin-right:2px}
.pluginButton:hover{border-color:#9dacce}
.pluginButtonPressed, .pluginButtonPressed:hover{background-color:#eee;border-color:#ddd;color:#aaa}
.pluginSkinDark .pluginButton{background-color:#c7c7c7;border-color:#999;color:#333}
.pluginSkinDark .pluginButton:hover{background-color:#d9d9d9;border-color:#ddd}
.pluginSkinDark .pluginButtonPressed, .pluginSkinDark .pluginButtonPressed:hover{background-color:#444;border-color:#555;color:#666}
.pluginButtonErrorLink{color:#a00;font-weight:bold}
.pluginButtonX .pluginButtonXOff, .pluginButtonX button:hover .pluginButtonXOn{display:inline-block}
.pluginButtonX .pluginButtonXOn, .pluginButtonX button:hover .pluginButtonXOff{display:none}
.pluginButton .pluginButtonThrobber, form.async_saving .pluginButtonIconWithThrobber{display:none}
form.async_saving .pluginButtonThrobber{display:inline-block;margin-top:2px;margin-bottom:1px;max-width:14px}
.pluginConnectTextDark a{color:#fff}
.pluginConnectTextDark{color:gray}
.pluginCountButton{background:#fff;border:1px solid #c1c1c1;height:14px;line-height:14px;margin-left:6px;min-width:15px;padding:1px 2px;text-align:center;white-space:nowrap}
.pluginCountButtonNub{height:0;left:2px;position:relative;top:-14px;width:5px;z-index:2}
.pluginCountButtonNub s, .pluginCountButtonNub i{border-color:transparent #D7D7D7 transparent;border-style:solid;border-width:4px 5px 4px 0;display:block;position:relative;top:1px}
.pluginCountButtonNub i{border-right-color:#fff;left:2px;top:-7px}
.pluginCountButtonDark{background:#d7d7d7;border-color:#d7d7d7;color:#333}
.pluginCountButtonDarkNub i{display:none}
.pluginCountTextConnected,
.pluginCountConnected .pluginCountTextDisconnected{display:none}
.pluginCountConnected .pluginCountTextConnected{display:inline}
.pluginErrorLink{color:#f03d25}
.pluginFacepileConnectLast, .pluginFacepileConnectConnected .pluginFacepileConnectFirst{-moz-animation:show .4s;display:inline-block !important}
.pluginFacepileConnectFirst, .pluginFacepileConnectConnected .pluginFacepileConnectLast{display:none !important}
.pluginFaviconButton{display:inline-block;background-color:#5f78ab;color:#fff;cursor:pointer;vertical-align:top}
.pluginFaviconButtonEnabled:active{background-color:#4f6aa3}
.pluginFaviconButtonIcon, .pluginFaviconButtonIconActive, .pluginFaviconButtonIconThrobber, .pluginFaviconButtonIconThrobber .img, .pluginFaviconButtonIconDisabled{vertical-align:top}
.pluginFaviconButton:active .pluginFaviconButtonIcon, .pluginFaviconButtonEnabled .pluginFaviconButtonIconActive, form.async_saving .pluginFaviconButtonIcon, form.async_saving .pluginFaviconButton:active .pluginFaviconButtonIconActive, .pluginFaviconButtonIconThrobber{display:none}
.pluginFaviconButtonEnabled:active .pluginFaviconButtonIconActive, form.async_saving .pluginFaviconButtonIconThrobber{display:inline-block}
.pluginFaviconButtonBorder, form.async_saving .pluginFaviconButtonBorder:active{display:inline-block;border-top:1px solid #29447e;border-right:1px solid #29447e;border-bottom:1px solid #1a356e}
.pluginFaviconButtonBorder:active{border-color:#34437d}
.pluginFaviconButtonText, form.async_saving .pluginFaviconButtonEnabled:active .pluginFaviconButtonText{display:inline-block;border-top:1px solid #879ac0;white-space:nowrap}
.pluginFaviconButtonEnabled:active .pluginFaviconButtonText{border-top-color:#50609c}
.pluginFaviconButtonSmall .pluginFaviconButtonText{font-size:10px;line-height:10px;padding:2px 6px 3px}
.pluginFaviconButtonMedium .pluginFaviconButtonText{font-size:11px;line-height:14px;padding:2px 6px 3px}
.pluginFaviconButtonLarge .pluginFaviconButtonText{font-size:13px;line-height:16px;padding:3px 6px 3px}
.pluginFaviconButtonXlarge .pluginFaviconButtonText{font-size:24px;line-height:30px;padding:3px 8px 3px}
.pluginFaviconButtonIconDisabled{display:inline-block}
form.async_saving .pluginFaviconButton, .pluginFaviconButtonDisabled{background-color:#798eb9;cursor:default}
.pluginFaviconButtonIconThrobber{border-right:1px solid #405b91;border-top:1px solid #29447e;border-left:1px solid #29447e;border-bottom:1px solid #1a356e}
.pluginFaviconButtonIconThrobber .img{border-top:1px solid #879ac0}
.pluginFontArial{font-family:"arial", sans-serif}
.pluginFontLucida{font-family:"lucida grande", sans-serif}
.pluginFontSegoe{font-family:"segoe ui", sans-serif}
.pluginFontTahoma{font-family:"tahoma", sans-serif}
.pluginFontTrebuchet{font-family:"trebuchet ms", sans-serif}
.pluginFontVerdana{font-family:"verdana", sans-serif}
.pluginLikeboxStream{overflow-x:hidden;overflow-y:auto}

body.plugin{background:transparent;overflow:hidden}
._4s7c{border:1px solid #aaa;border-top-color:#315c99}
._4-nd{float:right}
.pluginShareButton{display:inline-block}
.pluginShareButtonLink{display:inline-block}
.pluginSkinDark{color:gray}
.pluginSkinDark .fcb{color:gray}
.pluginSkinDark .fcg{color:#555}
.pluginSkinDark a{color:#fff}
.pluginSkinDark a.uiLinkSubtle{color:#555}
.sp_481849{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/zgJOcogcWEU.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:22px;width:22px}
.sx_2d6b53{background-position:-0px -0px}
.sx_23203e{background-position:-0px -23px}
.sp_4wb8zp{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yZ/r/eLPrNJEz5UY.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:25px;width:25px}
.sx_049e91{background-position:-0px -0px}
.sx_c36ecc{background-position:-0px -26px}
.sp_8o608v{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/A44f1DVOXj3.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_25f9fc{background-position:0 0}
.sx_ee97b0{background-position:0 -15px}
.sx_99af79{background-position:0 -30px}
.sp_9kaipv{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yH/r/CYBh79UfkRu.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:39px;width:39px}
.sx_9f6e24{background-position:-0px -0px}
.sx_440ac4{background-position:-0px -40px}
.sp_ah8s7h{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yv/r/jgYrpByDkID.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:18px;width:18px}
.sx_879424{background-position:-0px -0px}
.sx_73bd62{background-position:-0px -19px}
.sp_vo5f1g{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/xouNk_dzUFh.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_8ee3cc{background-position:0 0}
.sx_aff3f4{background-position:0 -15px}
.sp_favicon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yQ/r/Uk6BAIXon_o.png);background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_favicon_fav{background-position:-0px -0px}
.sx_favicon_favgrey{background-position:-0px -15px}
.sp_follow{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yO/r/Wrq-mqOQr76.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_follow_fav{background-position:0 0}
.sx_follow_ch{background-position:0 -15px}
.sx_follow_x{background-position:0 -30px}
.sp_like-dark{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yw/r/UEJYFocuWxL.png);background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_like-dark_fav{background-position:-0px -0px}
.sx_like-dark_ch{background-position:-0px -15px}
.sx_like-dark_x{background-position:-0px -30px}
.sx_like-dark_thumb{background-position:-0px -45px}
.sp_like{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yh/r/1dQf_ATK831.png);background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_like_fav{background-position:-0px -0px}
.sx_like_ch{background-position:-0px -15px}
.sx_like_x{background-position:-0px -30px}
.sx_like_thumb{background-position:-0px -45px}
.sp_login-button{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yf/r/S-DbSHszr4D.png);background-repeat:no-repeat;display:inline-block;height:18px;width:18px}
.sx_login-button_small{background-position:-0px -178px}
.sx_login-button_smalla{background-position:-19px -178px}
.sx_login-button_medium{width:22px;height:22px;background-position:-0px -132px}
.sx_login-button_mediuma{width:22px;height:22px;background-position:-0px -155px}
.sx_login-button_large{width:25px;height:25px;background-position:-0px -80px}
.sx_login-button_largea{width:25px;height:25px;background-position:-0px -106px}
.sx_login-button_xlarge{width:39px;height:39px;background-position:-0px -0px}
.sx_login-button_xlargea{width:39px;height:39px;background-position:-0px -40px}
.sp_send{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yB/r/L_eKU7B19IY.png);background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_send_fav{background-position:-0px -0px}
.sx_send_favgrey{background-position:-0px -15px}
body .uiButtonGroup .openToggler ._nk, body .uiButtonGroup .openToggler ._nm, body .uiButtonGroup .openToggler ._nl{border-bottom-left-radius:0;border-bottom-right-radius:0}
body .uiButtonGroup .openToggler ._nn, body .uiButtonGroup .openToggler ._np, body .uiButtonGroup .openToggler ._no{border-top-left-radius:0;border-top-right-radius:0}

._43q9 ._4cg3{margin-top:-2px}
._43qc ._4cg3{margin-top:-1px}
._43qf ._4cg3{margin-top:-3px}
._43q9 ._43q7{margin:2px 2px 0 0}
._43qc ._43q7{margin:1px 1px 0 0}
._43qf ._43q7{margin:3px 3px 0 0}
._43qm li:last-child{margin-right:0}
._43q7 a{display:block;position:relative}
._43q7 .img{vertical-align:bottom}
._43qm .showAll{display:block}
._43qm ._43qn{border-color:#7792ba;border-width:1px 0 0;padding:3px}
._43q9 ._43qn{line-height:18px;margin:2px 2px 0 0}
._43qc ._43qn{line-height:24px;margin:1px 1px 0 0}
._43qf ._43qn{line-height:44px;margin:3px 3px 0 0}

#bootloader_sGhvT { height: 42px; }