<STYLE TYPE="text/css">
<!-- 
body 	{ margin-left:0; 
		  margin-top:0; 
		  margin-right:0; 
		  margin-bottom:0; 
		  background-color: #151A22; 
		  background-image: url(stars_on_151A22.gif); 
		  background-repeat: repeat; 
		  background-position: top left;
	}
	
A:link {color:#FFFFFF}
A:visited {color:#FFFFFF}
A:active {color:#FFFFFF}
A:hover {color:#FFFFFF}

FONT 	{ font-size: 12px; font-family: arial, helvetica, verdana; color: #FFFFFF; }
TR 		{ font-size: 12px; font-family: arial, helvetica, verdana; color: #FFFFFF; }
TD 		{ font-size: 12px; font-family: arial, helvetica, verdana; color: #FFFFFF; }

.moon 	{
		  background-image: url(images/bottom_moon.jpg); 
		  background-repeat: no-repeat; 
		  background-position: center bottom;
		}

.menu {color: #FFFFFF; font-weight: bold; font-size: 12px; font-family: arial, helvetica, verdana} 
	.menu a:link 	{color: #FFFFFF; font-weight: bold; } 
	.menu a:visited {color: #FFFFFF; font-weight: bold; } 
	.menu a:hover 	{color: #FFFFFF; font-weight: bold; } 
	.menu a:active 	{color: #FFFFFF; font-weight: bold; } 
	
.header1_yellow {font-size: 18px; font-family: arial, helvetica, verdana; font-weight: bold; color: #FFFF00} 
.header1_blue 	{font-size: 18px; font-family: arial, helvetica, verdana; font-weight: bold; color: #66CCCC} 
.header1_green 	{font-size: 18px; font-family: arial, helvetica, verdana; font-weight: bold; color: #33FF33} 

.text10 {font-size: 10px; color: #FFFFFF; font-family: arial, helvetica, verdana; font-weight: normal; text-decoration:none}
	.text10 a:link 		{ color: #FFFF66; } 
	.text10 a:visited 	{ color: #FFFF66; } 
	.text10 a:hover 	{ color: #FFFF66; } 
	.text10 a:active 	{ color: #FFFF66; } 
.text12 {font-size: 12px; color: #FFFFFF; font-family: arial, helvetica, verdana; font-weight: normal; text-decoration:none}
	.text12 a:link 		{ color: #FFFF66; } 
	.text12 a:visited 	{ color: #FFFF66; } 
	.text12 a:hover 	{ color: #FFFF66; } 
	.text12 a:active 	{ color: #FFFF66; } 
.text12_red {font-size: 12px; font-family: arial, Helvetica, Verdana; font-weight: normal; color: #660000; text-decoration:none}

-->

</STYLE>